body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./images/backgroundCollage.jpg);
}

.gradientContainer {
  height: 100vh;
}

.main-header {
  display: flex;
  justify-content: space-between;
  height: 30vh;
}

.main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  align-self: center;
  height: 50vh;
}

.main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
}

.main-section .home-image {
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
  transition: transform 2s;
}

.main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  align-self: center;
}

@media(max-width: 1235px) {
  .main-section{
    padding-right: 40px;
  }
  
  .main-section .img-wrapper{
    width: 30%;
  }

  .main-section .home-image{
    width: 500px;
  }
}

@media(max-width: 1200px) {
  body {
    min-width: 40vh;
  }

  .img-wrapper {
    max-width: 500px;
  }
  
  .main-section .img-wrapper{
    width: 500px;
  }

  .main-section .home-image{
    width: 500px;
  }
}

@media(max-width: 850px) {
  body {
    min-width: 40vh;
  }

  .img-wrapper {
    max-width: 400px;
  }
  
  .main-section .img-wrapper{
    width: 400px;
  }

  .main-section .home-image{
    width: 400px;
  }

  .main-section .slideshow{
    width: 400px;
  }
}

@media(max-width: 750px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  body {
    min-width: 40vh;
  }

  .img-wrapper {
    max-width: 300px;
  }
  
  .main-section .img-wrapper{
    width: 300px;
  }

  .main-section .home-image{
    width: 300px;
  }

  .main-section .slideshow{
    width: 300px;
  }
}

@media(max-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  body {
    min-width: 40vh;
  }
  
  .main-section .img-wrapper{
    display: none;
    width: 300px;
  }

  .main-section .home-image{
    width: 300px;
  }

  .main-section .slideshow{
    width: 300px;
  }

}

@media (max-width: 390px) {
  .full-height-grow {
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: 621px;
    padding: 0;
    margin: 0;
    min-width: 390px;
  }
  .main-section .img-wrapper {
    display: none;
  }

}

@media (max-width: 320px) {
  .full-height-grow {
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: 320px;
    padding: 0;
    margin: 0;
    min-width: 320px;
  }
  .main-section .img-wrapper {
    display: none;
  }

}

@media (max-width: 310px) {
  .full-height-grow {
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: 310px;
    padding: 0;
    margin: 0;
    min-width: 310px;
  }
  .main-section .img-wrapper {
    display: none;
  }

  .call-to-action{
    width: 310px;
  }

}

@media (max-height: 556px){

  .main-header{
    height: 25vh;
  }

  .img-wrapper {
    max-width: 400px;
  }
  
  .main-section .img-wrapper{
    width: 400px;
  }

  .main-section .home-image{
    width: 400px;
  }

}

@media (max-height: 526px){

  .main-header{
    height: 25vh;
  }

  
  .main-section .img-wrapper{
    display: none;
  }

  .main-section{
    align-items: center;
    justify-content: center;
  }

}

@media (max-height: 210px){

  .main-header{
    height: 25vh;
  }

  
  .main-section .img-wrapper{
    display: none;
  }

  .main-section{
    align-items: center;
    justify-content: center;
  }

  body{
    font-size: small;
  }

}
